<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BillServicePortBindingBeta">
					<security mode="Transport" />
				</binding>

				<binding name="BillConsultServicePortBinding" />
				<binding name="BillValidServicePortBinding" />
				<binding name="BillServicePortBinding">
					<security mode="Transport" />
				</binding>
				<binding name="BillServicePortBinding2">
					<security mode="Transport" />
				</binding>
				<binding name="BillServicePortBinding3" />
			</basicHttpBinding>
			<customBinding>
				<binding name="BillServicePortBinding1">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBindingBeta"
                contract="WS_Sunat_Envio_Beta.billService" name="BillServicePort">
				<headers>
					<wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
						<wsse:UsernameToken>
							<wsse:Username>20133605291MODDATOS</wsse:Username>
							<wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">MODDATOS</wsse:Password>
						</wsse:UsernameToken>
					</wsse:Security>
				</headers>
			</endpoint>

			<endpoint address="http://ww1.sunat.gob.pe:80/ol-it-wsconscpegem/billConsultService"
                binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
                contract="WS_Sunat_Consulta_CDR.billService" name="BillConsultServicePort" />
			<endpoint address="http://ww1.sunat.gob.pe:80/ol-it-wsconsvalidcpe/billValidService"
                binding="basicHttpBinding" bindingConfiguration="BillValidServicePortBinding"
                contract="WS_Sunat_Consulta_Validez.billValidService" name="BillValidServicePort" />
			<endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
                contract="WS_Sunat_Envio_Produccion.billService" name="BillServicePort" />
			<endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="customBinding" bindingConfiguration="BillServicePortBinding1"
                contract="WS_Sunat_Envio_Produccion.billService" name="BillServicePort.0" />
			<endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding2"
                contract="WS_Sunat_Envio_Produccion.billService" name="BillServicePort.3" />
		</client>
	</system.serviceModel>
</configuration>